:root * {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  appearance: none;
  list-style-type: none;
  margin: 0;

  --font-color-light: #ECEFEC;
  --font-color-lighter: #F7F9F7;
  --font-color-medium: #5B5F6E;
  --font-color-dark: #373C50;
  --font-color-darker: #232734;
  --font-color-greed: #79B679;

  /* --sidebar-bg-color: #EFEEBA; */
  --sidebar-bg-color: #ECF0F3;
  /* --sidebar-shadow-color: #CBCA9E; */
  --sidebar-shadow-color: #C9CCCF;
  /* --sidebar-highlight-color: #FFFFD6; */
  --sidebar-highlight-color: #fff;
  --header-bg-color: #ECF0F3;
  --header-shadow-color: #C9CCCF;
  /* --main-bg-color: #ECF0F3;
  --main-shadow-color: #C9CCCF; */
}
body {
  margin: 0;
  /* box-sizing: border-box; */
  overflow: visible;
  background-color: var(--font-color-light);
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
button {
  border: none;
}
img.svg {
  width: 30px;
  height: 30px;
}
img.avatar {
  border-radius: 50%;
}

.main-layout {
  display: grid;
  grid-template: 180px 1fr / 259px 1fr;
  /* position: relative; */
  overflow: visible;
  position: relative;
  background-color: var(--header-bg-color);
}

/* SIDEBAR */
.sidebar {
  background-color: var(--sidebar-bg-color);
  grid-area: 1 / 1 / 3 / 2;
  padding-left: 3px;
  
  display: grid;
  grid-template: auto auto 1fr / 1fr;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  /* box-shadow: 0 0 15px var(--header-shadow-color),3px 0 6px #3c3c3c60,0 0 10px -10px var(--header-bg-color); */
  z-index: 99;
}
/* LOGO */
.sidebar-logo {
  display: flex;
  align-items: center;
  min-height: 80px;
  max-height: fit-content;
  margin: 0 0 0 0;
  padding: 9px 0 0 15px;
  user-select: none;

}
.sidebar-logo-icon {
  border-radius: 1em;
  /* padding-top: -30px; */
  width: 60px;
  padding: 0 3px;
  height: 60px;
  fill: var(--font-color-darker);
  border: 1px solid var(--sidebar-bg-color);
  box-shadow: inset -2px -2px 3px var(--sidebar-highlight-color), inset 2px 2px 3px var(--sidebar-shadow-color);

}
.sidebar-logo-text {
  margin: 0 15px 0 12px;
  border-radius: 1.5em;
  font-size: 24px;
  font-weight: 600;
  color: var(--font-color-darker);
  /* box-shadow: inset -2px -2px 3px var(--sidebar-highlight-color), inset 2px 2px 3px var(--sidebar-shadow-color); */
  text-shadow: 0 0 10px var(--sidebar-shadow-color), 5px 5px 6px #3c3c3c50;
}
.sidebar-nav{
  width: fit-content;
  margin: 21px 0 0 27px;
  padding: 21px 21px 21px 15px;
  border-radius: 1.5em;
  box-shadow: -9px -9px 24px var(--sidebar-highlight-color), 9px 9px 24px var(--sidebar-shadow-color);
  transition: 0.3s;

  position: sticky;
  top: -15px;
}
.sidebar-nav:hover {
  transform: scale(101%);
  transition: 0.3s;
}
.sidebar-nav > .li-divider {
  margin: 15px 0 15px 12px;
  width: 90%;
  height: 3px;
  border-radius: 2px;
  background-color: var(--sidebar-bg-color);

  box-shadow: inset 1px 1px 1px var(--sidebar-shadow-color), inset -1px -1px 3px var(--sidebar-highlight-color);
}
/* NAVIGATION LINKS */
.nav-group {
  margin-bottom: 0px;
}
.nav-group li {
  display: flex;
  align-items: center;
  /* margin-left: 35px; */
  margin-bottom: 0px;
}
.nav-group li:hover {
  cursor: pointer;
  transform: scale(105%);
  transition: 0.2s;
  svg {
    fill: var(--font-color-darker);
    filter: drop-shadow(0 0 15px var(--sidebar-shadow-color));
    filter: drop-shadow(0 5px 6px #3c3c3c80);
  }
  a {
    color: var(--font-color-darker);
    text-shadow: 0 0 15px var(--sidebar-shadow-color), 0 5px 6px var(--sidebar-shadow-color);
  }
}
.nav-group li svg {
  fill: var(--font-color-dark);
  width: 32px;
  height: 32px;
  transition: 0.2s;
}
.nav-group li a {
  margin-left: 5px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--font-color-dark);
  user-select: none;
  transition: 0.3s;
}


/* HEADER */
.header {
  background-color: var(--header-bg-color);
  /* position: sticky; top: 0; */
  grid-area: 1 / 2 / 2 / 3;
  width: auto;
  margin-left: -9px;
  
  display: grid;
  grid-template: 1fr 2fr 5px / 2fr 1fr;
  align-items: center;
  z-index: 4;

  /* border-bottom: solid 4px var(--header-bg-color); */

  /* box-shadow: 0 0 15px var(--font-color-medium),0 3px 6px #3c3c3c30; */
  /* box-shadow: inset 1px 1px 3px var(--header-shadow-color), inset -1px -1px 3px #fff; */

}
/* SEARCH BAR */
.search-bar {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  width: 70%;
  padding-left: 40px;
  padding-top: 15px;
  align-items: center;
  position: relative;
  transition: 0.3s;
}
.search-bar:hover,
.search-bar:focus {
  transform: scale(101%);
  transition: 0.3s;
}
.search-icon {
  position: absolute;
  width: 21px;
  align-self: center;
  margin-left: 15px;
  z-index: 9;
  stroke: var(--font-color-medium);
  filter: drop-shadow(2px 2px 3px #3c3c3c50);
}
.search-input {
  height: 32px;
  width: 90%;
  margin-left: 5px;
  padding: 2px 9px 2px 39px;
  border-radius: 15px;
  outline: none;
  color: var(--font-color-dark);
  font-size: 18px;
  overflow: scroll;
  outline: solid 0px white;

  text-shadow: 0 0 10px var(--header-shadow-color), 1px 1px 3px #3c3c3c50;

  border: 3px solid var(--header-bg-color);
  box-shadow: -9px -9px 24px #ffffff,9px 9px 24px var(--header-shadow-color), inset 1px 1px 3px var(--header-shadow-color), inset -1px -1px 3px #ffffff;
  transition: 0.3s;
}
.search-input:hover, 
.search-input:focus {
  outline: solid 1px white;
  /* transform: scale(103%); */
  transition: 0.3s;
  
}
/* NOTIFICATIONS & CO */
.acc-notifications {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-self: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-right: 60px;

  * {
    cursor: pointer;
  }
}
.notification-icon {
  width: 24px;
  height: 24px;
  border-radius: 19px;
  margin-right: 24px;
  border: 7px solid var(--header-bg-color);
  box-shadow: -9px -9px 24px #ffffff, 9px 9px 24px var(--header-shadow-color);

  display: flex;
  justify-content: center;
  align-items: center;
}
.notification-icon:hover {
  transform: scale(105%);
  transition: 0.3s;
}
.notification-bell {
  width: 24px;
  height: 24px;
  fill: var(--font-color-dark);
}
.notification-bell:hover {
  cursor: pointer;
  fill: var(--font-color-darker);
  animation: ring 1s;
  filter: drop-shadow(3px 3px 6px #3c3c3c50);

}
.notification-avatar {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  margin-right: 15px;

  border: 4px solid var(--header-bg-color);
  box-shadow: -9px -9px 24px #ffffff, 9px 9px 24px var(--header-shadow-color);
}
.notification-avatar-text {
  font-size: 18px;
  font-weight: 700;
  color: var(--font-color-dark);
  text-shadow: 0 0 10px var(--header-shadow-color), 4px 4px 6px #3c3c3c50;
}
/* ACC INFO */
.acc-info {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  padding-left: 40px;
  align-items: center;
}
.acc-info > img.avatar {
  width: 70px;
  height: 70px;
  border: 6px solid var(--header-bg-color);
  box-shadow: -9px -9px 24px #ffffff, 9px 9px 24px var(--header-shadow-color);
}
.acc-info  div {
  margin-left: 15px;
  user-select: none;

  p {
    text-shadow: 0 0 10px var(--header-shadow-color), 4px 4px 6px #3c3c3c50;
  }
}
.acc-info  div p:nth-child(1) {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--font-color-dark);
}
.acc-info div p:nth-child(2) {
  margin-top: 5px;
  font-size: 24px;
  font-weight: 700;
  color: var(--font-color-dark);
}
.acc-info div:hover {
  p {
    color: var(--font-color-darker);
  }
}
/* BUTTONS */
.acc-buttons {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  gap: 24px;
}
.acc-buttons button {
  color: var(--font-color-medium);
  background-color: var(--header-bg-color);
  height: 40px;
  width: 95px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;

  /* text-shadow: -2px -2px 24px #ffffff, 2px 2px 24px #C1CCC7; */
  box-shadow: -9px -9px 24px #ffffff, 9px 9px 24px var(--header-shadow-color);
  transition: transform 0.25s,box-shadow 0.25s;
}
.acc-buttons button:hover {
  transform: scale(105%);
  cursor: pointer;
  transition: 0.25s;
  color: var(--font-color-dark);
  
  p {
    text-shadow: 0 0 10px var(--header-shadow-color), 4px 4px 6px #3c3c3c50;
    /* transform: scale(105%); */
    transition: 0.25s;
  }
  .header .bar-separator {
    box-sizing: border-box;
    grid-area: 3 / 1 / 4 / 3;
    width: 90px;height: 1em;
    border-radius: 2px;
    /* background-color: var(--sidebar-bg-color); */
    background-color: red;
    color: red;
  
    /* box-shadow: inset 1px 1px 1px var(--sidebar-shadow-color), inset -1px -1px 3px var(--sidebar-highlight-color); */
    z-index: 5;
  }
}

/* MAIN AREA */
.main-content {
  /* background: url(./resources/svg/noise.svg); */
  background-color: var(--font-color-light);
  margin-left:4px;
  grid-area: 2 / 2 / 3 / 3;
  border-radius: 1.5em 0 0 0;
  border-top: 1pt solid white;
  border-left: 1pt solid white;
  box-shadow: -1px -1px 15px 3px #fff;
  /* box-shadow: -9px -9px 24px #fff; */
  z-index: 99;

  display: grid;
  grid-template: 1fr 1fr 1fr / 35% 35% 30%;
  transition: 0.3s;
}
/* PROJECTS */
.project-area {
  grid-area: 1 / 1 / 4 / 3;
  padding-left: 15px;
  
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  transition: 0.3s;
}
.project-area > .content-title {
  margin-top: 30px;
  margin-left: 45px;
  width: fit-content;
  padding: 8px;
  font-size: 1.5em;
  color: var(--font-color-dark);
  text-shadow: 0 0 10px #C1CCC7, 5px 5px 6px #3c3c3c50;
  z-index: 3;
  transition: 0.3s;
}
.project-area > .content-title:hover {
  transform: scale(103%);
  transition: 0.3s;
  color: var(--font-color-greed);
  cursor: pointer;
}
.card-container {
  /* flex: 1; */
  margin-top: 3px;
  padding: 10px 20px;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: minmax(250px, 1fr);
  gap: 42px 42px;
}
/* Cards */
.card {
  background-color: var(--font-color-light);
  /* max-width: 540px; */
  padding: 24px 24px 12px 24px;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  box-shadow: -9px -9px 24px #ffffff, 9px 9px 24px #C1CCC7;
  transition: 0.3s;
}
.card:hover {
  transform: scale(101%);
  transition: 0.3s;
}
.card > .card-title {
  padding: 0 15px 0 0;
  width: fit-content;
  font-weight: 600;
  color: var(--font-color-dark);
}
.card > .card-title:hover {
  color: var(--font-color-greed);
  cursor: pointer;
  text-shadow: 0 0 10px #C1CCC7, 5px 5px 6px #3c3c3c50;
  transform: scale(102%);
  transition: 0.3s;
}
.card p {
  padding: 15px 0 0 0;
  color: var(--font-color-dark);
}
.card-icons{
  margin-top: auto;
  align-self: flex-end;
  user-select: none;
}
.card-icons > svg {
  padding-left: 3px;
  transition: 0.2s;
}
.card-icons > svg:hover {
  filter: drop-shadow(2px 2px 3px #3c3c3c70);
  transform: scale(105%);
  transition: 0.2s;

}
.card-button {
  stroke: var(--font-color-dark);
  width: 30px;

  &:hover {
    cursor: pointer;
    stroke: var(--font-color-greed);
  }
}
.card-button-share {
  width: 30px;
  path {
    stroke: var(--font-color-dark);
  }

  &:hover {
    cursor: pointer;
    path {
      stroke: var(--font-color-greed);
    }
  }
}

/* ANNOUNCEMENTS */
.announcement-area {
  padding-left: 15px;
}
.announcements-title {
  margin-top: 30px;
  margin-left: 45px;
  font-size: 1.5em;
  color: var(--font-color-dark);
  width: fit-content;

  text-shadow: 0 0 10px #C1CCC7, 5px 5px 6px #3c3c3c50;
  transition: 0.3s;
}
.announcements-title:hover {
  color: var(--font-color-greed);
  cursor: pointer;
  text-shadow: none;
  transform: scale(102%);
  transition: 0.3s;
  text-shadow: 0 0 10px #C1CCC7, 5px 5px 6px #3c3c3c50;
}
.announcement {
  /* width: 80%; */
  padding: 15px 24px 12px max(48px, 5%);
  border-radius: 1.5em;
  grid-area: 1 / 3 / 2 / 4;
  background-color: var(--font-color-light);
  margin: 20px;

  box-shadow: -9px -9px 24px #ffffff, 9px 9px 24px #C1CCC7;

  &ul {
    display: flex;
    flex-direction: column;
  }
}
.announcement li {
  overflow: hidden;
  padding: 0 0 15px 0;
  color: var(--font-color-dark);
  transition: 0.3s;
}
.announcement li:hover {
  transform: scale(101%);
  transition: 0.3s;
  text-shadow: 0 0 10px #C1CCC7, 1px 1px 2px #3c3c3c50;
  cursor: pointer;

  h5 {
    transition: 0.3s;
    transform: scale(101%);
    color: var(--font-color-greed);
    text-shadow: 0 0 10px #C1CCC7, 1px 1px 2px #3c3c3c50;
  }
}
.announcement-list li h5 {
  padding-left: 3px;
  user-select: none;
  transition: 0.3s;
}
.announcement li p {
  margin-top: 9px;
}
.announcement-list .li-divider {
  margin: 0 0 15px -15px;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: var(--font-color-light);

  box-shadow: inset 1px 1px 1px #C1CCC7, inset -1px -1px 3px #fff;
}

/* TRENDING */
.trending-area {
  grid-area: 2 / 3 / 3 / 4;
  margin-left: 15px;
  max-width: 80%;
  
  justify-self: end;
}
.trending-title {
  margin-left: 45px;
  font-size: 1.5em;
  color: var(--font-color-dark);
  width: fit-content;

  text-shadow: 0 0 10px #C1CCC7, 6px 6px 6px #3c3c3c50;
  cursor: pointer;
  transition: 0.3s;
}
.trending-title:hover {
  color: var(--font-color-greed);
  cursor: pointer;
  transform: scale(102%);
  transition: 0.3s;
}
.trends {
  padding: 18px 24px 12px max(18px, 5%);
  border-radius: 1.5em;
  grid-area: 1 / 3 / 2 / 4;
  background-color: var(--font-color-light);
  margin: 20px;
  transition: 0.3s;

  box-shadow: -9px -9px 24px #ffffff, 9px 9px 24px #C1CCC7;
}
.trends:hover {
  transform: scale(101%);
  transition: 0.3s;
}
.trend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: fit-content;
  padding: 0 16px 0 0;

  cursor: pointer;
  transition: 0.3s;
  
  p {
    transition: 0.3s;
  }
  .handle {
    transition: 0.3s;
  }
}
.trend:hover {
  transform: scale(103%);
  transition: 0.3s;

  img {
    box-shadow: 3px 3px 6px #3c3c3c30, 5px 5px 12px #3c3c3c50;
  }
  p {
    text-shadow: 0 0 10px #C1CCC7, 5px 5px 6px #3c3c3c50;
    transform: scale(105%);
    transition: 0.3s;
  }
  .handle {
    transform: scale(105%);
    transition: 0.3s;
    color: var(--font-color-greed);
  }
}
.trend img {
  width: 50px;
  height: 50px;
}
.trend p {
  margin-left: 12px;
}

span.handle {
  color: var(--font-color-dark);
}
span.handle-acc {
  color: var(--font-color-darker);
}


@keyframes ring { 
  20% { transform: rotate(15deg); } 
  40% { transform: rotate(-10deg); } 
  60% { transform: rotate(5deg); } 
  80% { transform: rotate(-5deg); } 
  100% { transform: rotate(0deg); } 
} 
